@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Roboto|Open+Sans');

html, body {
	/*Overrides auto margin & paddings by browsers*/
	margin: 0;
	padding: 0;

	height: 100%;
	width: 100%;
}

/*------------------------ HOME PAGE ------------------------*/
.nav_bar {
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 8.02%;
  background-color: rgba(126, 201, 237,1);
}

.nav_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 7px 0 10px 0;
    text-align: right; /*puts nav bar on right*/

    font-family: 'Droid Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
}

.nav_bar li {
    display: inline-block;
    padding: 10px;
}

.nav_bar li a {
  text-decoration: none;
  color: white;  
  padding: 5px 0; /*underline's distance from text*/
  background: linear-gradient(to left, white, white) no-repeat bottom left;
  background-size: 0% 2px; /*width of underline*/
  transition: 0.5s;
}

.nav_bar li a.currentPage {
  background-size: 100% 2px;
}

.nav_bar li a.otherPages:hover { /*makes underline under words*/
  background-size: 100% 2px
}

.titleSection .nav_bar {
  background-color: transparent;
  transition: 0.5s;
}

.titleSection {
	position: relative;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  overflow: hidden;
  background: url('../images/apples.jpg'); /*https://www.flickr.com/photos/106103661@N02/10397073603/in/album-72157648008079417/*/
  background-position: center center;
  background-size: cover;
}

#coverImage { 
	height: auto;
    width: auto;
    width: 100%;
    height: 90%;
}

.appleFestTitle { 
   font-family: 'Droid Sans', sans-serif;
   font-weight: 700;
   font-size: 5em;
   color: white;
   position: absolute;
   width: 80%; /*width of appleFestTitle div = 80% of width of its container (titleSection)*/
   text-align: center;

   left: 50%; /*Moves left edge of appleFestTitle to 50% of containing div (titleSection)*/
   top: 45%;
   -moz-transform: translateX(-50%) translateY(-50%);
   -webkit-transform: translateX(-50%) translateY(-50%);
   transform: translateX(-50%) translateY(-50%); /*Translate x: offsets by 50% of width of bounding box (
   element for which style is being applied- appleFestTitle box)*/
}

.appleFestSubtitle {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 0.35em;
  color: white;
}

.about {
  padding: 5% 5%;
  background-color: rgb(247, 247, 247);
}

.title {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: rgb(102, 102, 102);
  text-align: center;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1em;
  color: rgb(128, 128, 128);
}

img {
  width: 100%;
}

/*------------------------ EVENTS PAGE ------------------------*/
.eventsTitleSection {
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
  overflow: hidden;
  background: url('../images/crowdzoomed.jpg'); /*https://www.flickr.com/photos/106103661@N02/10397073603/in/album-72157648008079417/*/
  background-position: center center;
  background-size: cover;
}

.eventsTitle{
  font-size: 1.1em;
}

.day {
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  font-size: 3em;
  color: rgb(102, 102, 102);
  padding: 5% 11.8%;
  display: block;
}

.oddDay {
  background-color: rgb(247, 247, 247);
}

.time {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: rgb(128,128,128);
  font-size: 0.55em;
  display: inline-block;
}

.hidden> .schedule {
    display:none;
}

.visible> .schedule {
    display:block;
}

/*------------------------ TABLE ------------------------*/
.tg {
  border-collapse:collapse;
  border-spacing:0;
  border-color: rgb(231,231,231);
  border: 2px;
  font-size:22px;
  width: 100%;
}

.tg td { /*cells*/
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-align: left;
  color: rgb(102,102,102);

  padding:12px 5px;
  border-style:solid;
  border-width:0px;
  border-bottom-width: 1px;
  border-color: rgb(231,231,231);
  overflow:hidden;
  word-break:normal;
  vertical-align: text-top;
}

.tg th { /*header cell styling*/
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
  text-align: left;
  color: rgb(102,102,102);

  padding:12px 5px;
  border-style:solid;
  border-width:0px;
  border-bottom-width: 1px;
  border-color: rgb(231,231,231);
  overflow:hidden;
  word-break:normal;
  vertical-align: text-top;
}

.tableTitle {
  font-weight: 700;
}

.italic{ 
  font-style: italic; 
  padding-right: 4px;
}

.table_description{
  font-size: 18px;
}

.space {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 15px; 
}

.cell-time { 
  width: 170px; /*Width of time cell. N2use pixels to keep width uniform for all tables (% will be based on size of specific day's (i.e Friday's) div)*/
}

.cell-time.cell-last { /*styles div with cell-time AND cell-last. Removes line on bottom of table*/
  border-bottom-width: 0px;

}

.cell-descript.cell-last { /*styles div with cell-descript AND cell-last. Removes line on bottom of table*/
  border-bottom-width: 0px;
}

button {
  display: inline-block;
  margin: 0 10px 0 0;
  padding: 15px 45px;
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;

  color: #fff;
  background-color: #EEEEEE;
  text-shadow: -1px 1px #8C8C8C;
  border: none;
}

button:focus {
  outline: none
}


